<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
            <section name="fileSystemSection"
                     type="FileSystemListener.Configuration.FileSystemListenerConfigSection, FileSystemListener"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <fileSystemSection culture="en-US">
            <directories>
                <directory path="F:\\BCL"/>
                <directory path="F:\\BCL\\New folder"/>
            </directories>
            <rules defaultDir="F:\\BCL\\Default">
                <rule filePattern="\.doc*" isOrderAppended="false" isDateAppended="false" destFolder="F:\\BCL\\DOCS"/>
                <rule filePattern="\.txt*" isOrderAppended="true" isDateAppended="true" destFolder="F:\\BCL\\TXTS"/>
            </rules>
     </fileSystemSection>
</configuration>